

<div class="row">
<div class="col-md-3">
<p>
<%= image_tag @restaurant.image.url(:thumb) %>

</p>

<h2>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</h2>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @restaurant.phone %>
</p>

<p>
  <strong>Website:</strong>
  <%= link_to @restaurant.website, @restaurant.website %>
</p>

<p>
  <strong>City:</strong>
  <%= @restaurant.city %>
</p>

<p>
  <strong>Country:</strong>
  <%= @restaurant.country %>
</p>



<%= link_to "Write a Review", new_restaurant_review_path(@restaurant), class: "btn btn-primary" %><br />

<%= link_to 'Edit', edit_restaurant_path(@restaurant), class: "btn btn-link" %> |
<%= link_to 'Back', restaurants_path, class: "btn btn-link" %>
</div>

<div class="col-md-9">
<% if @reviews.blank? %>
  <h3>No Reviews yet.  Be the first to write a reveiw</h3>
<% else %>
  <% @reviews.each do |review| %>
    <div class="star-rating" data-score= <%=review.rating%> ></div><br />
    
    <p><%= review.comment %></p>
  <% end %>
<% end %>
</div>
</div>

<script type="text/javascript">
  $('.star-rating').raty({path: 'https://s3-ap-southeast-1.amazonaws.com/atalebagha-yelpdemo/stars/', readOnly: true, score: function() {return $(this).attr('data-score');}});
</script>
