

<div class="row">
<div class="col-md-3">
<p>
<%= image_tag @restaurant.image.url(:thumb) %>

</p>

<h2>
  <strong><%= @restaurant.name %></strong>
</h2>

 <div class="star-rating" data-score= <%=@avg_rating%> ></div><br />
  <p><%= "#{@reviews.length} reviews" %>
<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @restaurant.phone %>
</p>

<p>
  <strong>Website:</strong>
  <%= link_to @restaurant.website, @restaurant.website %>
</p>

<p>
  <strong>City:</strong>
  <%= @restaurant.city %>
</p>

<p>
  <strong>Country:</strong>
  <%= @restaurant.country %>
</p>



<%= link_to "Write a Review", new_restaurant_review_path(@restaurant), class: "btn btn-primary" %><br />

<%= link_to 'Edit', edit_restaurant_path(@restaurant), class: "btn btn-link" %> |
<%= link_to 'Back', restaurants_path, class: "btn btn-link" %>
</div>

<div class="col-md-9">
<% if @reviews.blank? %>
  <h3>No Reviews yet.  Be the first to write a reveiw</h3>
<% else %>
  <% @reviews.each do |review| %>
    <table class="table">
      <thead>
        <tr>
         <th class="col-md-3"></th>
         <th class="col-md-9"></th>
      <tbody>
        <tr>
          <td>
            <h4>
              <%= "#{review.user.first_name.capitalize} #{review.user.last_name.capitalize[0]}." %> </h4>
              <p><%= review.created_at.strftime("%-m/%-d/%-y") %></p>
          <td>
            <div class="star-rating" data-score= <%=review.rating%> ></div><br />
            <p><%= h(review.comment).gsub(/\n/, '<br/>').html_safe %></p>
            <% if user_signed_in? %>
              <% if (review.user == current_user) || (current_user.admin?) %>
                <%= link_to "Edit Review", edit_restaurant_review_path(@restaurant, review), class: "btn btn-link" %>
                <%= link_to "Delete Review", restaurant_review_path(@restaurant, review), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link"  %>
              <% end %>
            <% end %>

          </td>
        </tr>
      </tbody>
    </table>
  <% end %>
<% end %>
</div>
</div>

<script type="text/javascript">
  $('.star-rating').raty({path: 'https://s3-ap-southeast-1.amazonaws.com/atalebagha-yelpdemo/stars/', readOnly: true, score: function() {return $(this).attr('data-score');}});
</script>
