<!DOCTYPE html>
<html class="no-js" lang="ar" dir="rtl">
<head>
  <title>Yelpdemo</title>
  <%= render 'layouts/bootstrap' %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  <link type="stylesheets" href="http://fonts.googleapis.com/earlyaccess/droidarabickufi.css">
  <%= render 'layouts/livereload' %>
</head>
<body>

<%= render 'layouts/navbar' %>

<div class="container-fluid">
<% flash.each do |name, msg| %>
	<% if msg.is_a?(String) %>
	<div class="alert alert-<%= name == "notice" ? "success" : "danger" %> alert-dismissible">
		<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		<%= content_tag :div, msg, :id => "flash_#{name}" %>
		</div>
	<% end %>
<% end %>

<%= yield %>
</div>

<%= render 'layouts/footer' %>

  <script src="js/vendor/jquery.js"></script>
  <script src="js/foundation.min.js"></script>
  <script>
    $(document).foundation();
  </script>
</body>
</html>
